In [ ]:
#import libraries
import pandas as pd
import numpy as np
import os

In [ ]:
# get working directory
project_root_dir = os.getcwd()
#define paths to the data folders
data_dir = os.path.join(project_root_dir,'data')
raw_dir = os.path.join(data_dir,'raw')
processed_dir = os.path.join(data_dir,'processed')
# define paths to docs folder
docs_dir = os.path.join(project_root_dir,'docs')
# define paths to result folder
result_dir = os.path.join(project_root_dir,'results')
# create directories if they do not exist
os.makedirs(raw_dir,exist_ok=True)
os.makedirs(processed_dir,exist_ok=True)
os.makedirs(docs_dir,exist_ok=True)
os.makedirs(result_dir,exist_ok=True)

In [ ]:
#  from google.colab import files
#  uploaded = files.upload()

In [ ]:
#  !mv adult.csv data/raw/

In [ ]:
adult_df_filename = os.path.join(raw_dir,'adult.csv')
adult_df = pd.read_csv(adult_df_filename,header=None, na_values='?',skipinitialspace=True)
adult_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [ ]:
adult_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       32561 non-null  int64
 1   1       30725 non-null  object
 2   2       32561 non-null  int64
 3   3       32561 non-null  object
 4   4       32561 non-null  int64
 5   5       32561 non-null  object
 6   6       30718 non-null  object
 7   7       32561 non-null  object
 8   8       32561 non-null  object
 9   9       32561 non-null  object
 10  10      32561 non-null  int64
 11  11      32561 non-null  int64
 12  12      32561 non-null  int64
 13  13      31978 non-null  object
 14  14      32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [ ]:
#Data cleaning
adult_df.columns = ['age','workclass','fnlwgt','education','education_num','marital_status','occupation','relationship','race','sex','capital_gain','capital_loss','hours_per_week','native_country','income']
adult_df.head(10)

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K

In [ ]:
#age represents the age of the person, ranging from 17 to 90
np.unique(adult_df.age.to_list())

array([17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 90])

In [ ]:
np.unique(adult_df.workclass.to_list())

array(['Federal-gov', 'Local-gov', 'Never-worked', 'Private',
       'Self-emp-inc', 'Self-emp-not-inc', 'State-gov', 'Without-pay',
       'nan'], dtype='<U32')

In [ ]:
np.unique(adult_df.fnlwgt.to_list())

array([  12285,   13769,   14878, ..., 1366120, 1455435, 1484705])

In [ ]:
# Data with missing Values
adult_df.isnull().sum()

age                  0
workclass         1836
fnlwgt               0
education            0
education_num        0
marital_status       0
occupation        1843
relationship         0
race                 0
sex                  0
capital_gain         0
capital_loss         0
hours_per_week       0
native_country     583
income               0
dtype: int64

In [ ]:
# deal with missing values
adult_df['workclass'] = adult_df['workclass'].fillna('Unkown')
adult_df['native_country'] = adult_df['native_country'].fillna('other')
adult_df['occupation'] = adult_df['occupation'].fillna('Unkown')
adult_df.isnull().sum()

age               0
workclass         0
fnlwgt            0
education         0
education_num     0
marital_status    0
occupation        0
relationship      0
race              0
sex               0
capital_gain      0
capital_loss      0
hours_per_week    0
native_country    0
income            0
dtype: int64

In [ ]:
# deal with duplicates
adult_df.duplicated().sum()

np.int64(24)

In [ ]:
adult_df[adult_df.duplicated(keep=False)]

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
2303,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
3917,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
4325,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4767,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
4881,25,Private,308144,Bachelors,13,Never-married,Craft-repair,Not-in-family,White,Male,0,0,40,Mexico,<=50K
4940,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
5104,90,Private,52386,Some-college,10,Never-married,Other-service,Not-in-family,Asian-Pac-Islander,Male,0,0,35,United-States,<=50K
5579,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
5805,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
5842,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
6990,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
7053,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
7920,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
8080,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
8679,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
9171,21,Private,250051,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,10,United-States,<=50K
10367,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
11631,20,Private,107658,Some-college,10,Never-married,Tech-support,Not-in-family,White,Female,0,0,10,United-States,<=50K
11965,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
13084,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
15059,21,Private,243368,Preschool,1,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,50,Mexico,<=50K
15189,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
16297,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
16846,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K
16975,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,other,<=50K
17040,46,Private,173243,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
17673,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
17916,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
18555,30,Private,144593,HS-grad,9,Never-married,Other-service,Not-in-family,Black,Male,0,0,40,other,<=50K
18698,19,Private,97261,HS-grad,9,Never-married,Farming-fishing,Not-in-family,White,Male,0,0,40,United-States,<=50K
21103,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
21318,19,Private,138153,Some-college,10,Never-married,Adm-clerical,Own-child,White,Female,0,0,10,United-States,<=50K
21490,19,Private,146679,Some-college,10,Never-married,Exec-managerial,Own-child,Black,Male,0,0,30,United-States,<=50K
21875,49,Private,31267,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
22300,25,Private,195994,1st-4th,2,Never-married,Priv-house-serv,Not-in-family,White,Female,0,0,40,Guatemala,<=50K
22367,44,Private,367749,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,Mexico,<=50K
22494,49,Self-emp-not-inc,43479,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25624,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
25872,23,Private,240137,5th-6th,3,Never-married,Handlers-cleaners,Not-in-family,White,Male,0,0,55,Mexico,<=50K
26313,28,Private,274679,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,50,United-States,<=50K
28230,27,Private,255582,HS-grad,9,Never-married,Machine-op-inspct,Not-in-family,White,Female,0,0,40,United-States,<=50K
28522,42,Private,204235,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,>50K
28846,39,Private,30916,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
29157,38,Private,207202,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,48,United-States,>50K
30845,46,Private,133616,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
31993,19,Private,251579,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,14,United-States,<=50K
32404,35,Private,379959,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [ ]:
adult_df = adult_df.drop_duplicates()
adult_df.duplicated().sum()

np.int64(0)

In [ ]:
adult_df.shape

(32537, 15)

In [ ]:
# standardize Categorical Variables
adult_df.columns[adult_df.dtypes == object]

Index(['workclass', 'education', 'marital_status', 'occupation',
       'relationship', 'race', 'sex', 'native_country', 'income'],
      dtype='object')

In [ ]:
categorical_cols = adult_df.columns[adult_df.dtypes == object]
for col in categorical_cols:
  adult_df[col] = adult_df[col].str.strip().str.lower()

/tmp/ipython-input-211-2918499631.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  adult_df[col] = adult_df[col].str.strip().str.lower()

In [ ]:
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,state-gov,77516,bachelors,13,never-married,adm-clerical,not-in-family,white,male,2174,0,40,united-states,<=50k
1,50,self-emp-not-inc,83311,bachelors,13,married-civ-spouse,exec-managerial,husband,white,male,0,0,13,united-states,<=50k
2,38,private,215646,hs-grad,9,divorced,handlers-cleaners,not-in-family,white,male,0,0,40,united-states,<=50k
3,53,private,234721,11th,7,married-civ-spouse,handlers-cleaners,husband,black,male,0,0,40,united-states,<=50k
4,28,private,338409,bachelors,13,married-civ-spouse,prof-specialty,wife,black,female,0,0,40,cuba,<=50k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married-civ-spouse,tech-support,wife,white,female,0,0,38,united-states,<=50k
32557,40,private,154374,hs-grad,9,married-civ-spouse,machine-op-inspct,husband,white,male,0,0,40,united-states,>50k
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,unmarried,white,female,0,0,40,united-states,<=50k
32559,22,private,201490,hs-grad,9,never-married,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k
32560,52,self-emp-inc,287927,hs-grad,9,married-civ-spouse,exec-managerial,wife,white,female,15024,0,40,united-states,>50k

In [ ]:
#Re-code the workclass column
adult_df['workclass'].unique()

array(['state-gov', 'self-emp-not-inc', 'private', 'federal-gov',
       'local-gov', 'unkown', 'self-emp-inc', 'without-pay',
       'never-worked'], dtype=object)

In [ ]:
adult_df.loc[:, 'workclass'] = adult_df['workclass'].replace({'state-gov':'government','loc-gov':'government',
                                                       'federal-gov':'government',
                                                       'self-emp-not-inc':'self-employed',
                                                       'never worked':'unemployed',
                                                       'without-pay':'voluntary',})
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income
0,39,government,77516,bachelors,13,never-married,adm-clerical,not-in-family,white,male,2174,0,40,united-states,<=50k
1,50,self-employed,83311,bachelors,13,married-civ-spouse,exec-managerial,husband,white,male,0,0,13,united-states,<=50k
2,38,private,215646,hs-grad,9,divorced,handlers-cleaners,not-in-family,white,male,0,0,40,united-states,<=50k
3,53,private,234721,11th,7,married-civ-spouse,handlers-cleaners,husband,black,male,0,0,40,united-states,<=50k
4,28,private,338409,bachelors,13,married-civ-spouse,prof-specialty,wife,black,female,0,0,40,cuba,<=50k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married-civ-spouse,tech-support,wife,white,female,0,0,38,united-states,<=50k
32557,40,private,154374,hs-grad,9,married-civ-spouse,machine-op-inspct,husband,white,male,0,0,40,united-states,>50k
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,unmarried,white,female,0,0,40,united-states,<=50k
32559,22,private,201490,hs-grad,9,never-married,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k
32560,52,self-emp-inc,287927,hs-grad,9,married-civ-spouse,exec-managerial,wife,white,female,15024,0,40,united-states,>50k

In [ ]:
adult_df['education'].unique()

array(['bachelors', 'hs-grad', '11th', 'masters', '9th', 'some-college',
       'assoc-acdm', 'assoc-voc', '7th-8th', 'doctorate', 'prof-school',
       '5th-6th', '10th', '1st-4th', 'preschool', '12th'], dtype=object)

In [ ]:
adult_df.loc[:,'education_level'] = adult_df['education'].map({
    'bachelors':'tertiary',
    'masters':'tertiary',
    'doctorate':'tertiary',
    'prof_school':'tertiary',
    'asssoc-acdm':'tertiary',
    'assoc-voc':'associates',
    'hs-grad':'high school graduate',
    'some-college':'secondary',
    '12th':'secondary',
    '11th':'secondary',
    '10th':'secondary',
    '9th':'primary',
    '7th-8th':'primary',
    '5th-6th':'primary',
    '1st-4th':'primary',
    'preschool':'preschool'

})
adult_df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education_num',
       'marital_status', 'occupation', 'relationship', 'race', 'sex',
       'capital_gain', 'capital_loss', 'hours_per_week', 'native_country',
       'income', 'education_level'],
      dtype='object')

In [ ]:
adult_df['education_level'].unique()

array(['tertiary', 'high school graduate', 'secondary', 'primary', nan,
       'associates', 'preschool'], dtype=object)

In [ ]:
adult_df['marital_status'].unique()

array(['never-married', 'married-civ-spouse', 'divorced',
       'married-spouse-absent', 'separated', 'married-af-spouse',
       'widowed'], dtype=object)

In [ ]:
adult_df['marital_status'] = adult_df['marital_status'].replace({

    'never-married':'single',
    'married-civ-spouse':'married',
    'married-spouse-absent':'divorced or separated',
    'divorced':'divorced or separated',
    'separated':'divorced or separated',
    'married-af-spouse':'married',
    'widow':'widow',})
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_level
0,39,government,77516,bachelors,13,single,adm-clerical,not-in-family,white,male,2174,0,40,united-states,<=50k,tertiary
1,50,self-employed,83311,bachelors,13,married,exec-managerial,husband,white,male,0,0,13,united-states,<=50k,tertiary
2,38,private,215646,hs-grad,9,divorced or separated,handlers-cleaners,not-in-family,white,male,0,0,40,united-states,<=50k,high school graduate
3,53,private,234721,11th,7,married,handlers-cleaners,husband,black,male,0,0,40,united-states,<=50k,secondary
4,28,private,338409,bachelors,13,married,prof-specialty,wife,black,female,0,0,40,cuba,<=50k,tertiary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married,tech-support,wife,white,female,0,0,38,united-states,<=50k,NaN
32557,40,private,154374,hs-grad,9,married,machine-op-inspct,husband,white,male,0,0,40,united-states,>50k,high school graduate
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,unmarried,white,female,0,0,40,united-states,<=50k,high school graduate
32559,22,private,201490,hs-grad,9,single,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k,high school graduate
32560,52,self-emp-inc,287927,hs-grad,9,married,exec-managerial,wife,white,female,15024,0,40,united-states,>50k,high school graduate

In [ ]:
adult_df['occupation'].unique()

array(['adm-clerical', 'exec-managerial', 'handlers-cleaners',
       'prof-specialty', 'other-service', 'sales', 'craft-repair',
       'transport-moving', 'farming-fishing', 'machine-op-inspct',
       'tech-support', 'unkown', 'protective-serv', 'armed-forces',
       'priv-house-serv'], dtype=object)

In [ ]:
adult_df.loc[:,'occupation_grouped'] = adult_df['occupation'].map({
    'adm-clerical':'white collar',
    'exec-managerial':'white collar',
    'handlers-cleaners':'blue collar',
    'prof-specialty':'white collar',
    'protective-serv':'white collar',
    'sales':'white collar',
    'craft-repair':'blue collar',
    'machine-op-inspct':'blue collar',
    'other-service':'blue collar',
    'transport-moving':'blue collar',
    'farming-fishing':'blue collar',
    'priv-house-serv':'srvice',
    'tech-support':'white collar',
    'armed-forces':'military',
    'unknown':'unknown',
})
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_level,occupation_grouped
0,39,government,77516,bachelors,13,single,adm-clerical,not-in-family,white,male,2174,0,40,united-states,<=50k,tertiary,white collar
1,50,self-employed,83311,bachelors,13,married,exec-managerial,husband,white,male,0,0,13,united-states,<=50k,tertiary,white collar
2,38,private,215646,hs-grad,9,divorced or separated,handlers-cleaners,not-in-family,white,male,0,0,40,united-states,<=50k,high school graduate,blue collar
3,53,private,234721,11th,7,married,handlers-cleaners,husband,black,male,0,0,40,united-states,<=50k,secondary,blue collar
4,28,private,338409,bachelors,13,married,prof-specialty,wife,black,female,0,0,40,cuba,<=50k,tertiary,white collar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married,tech-support,wife,white,female,0,0,38,united-states,<=50k,NaN,white collar
32557,40,private,154374,hs-grad,9,married,machine-op-inspct,husband,white,male,0,0,40,united-states,>50k,high school graduate,blue collar
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,unmarried,white,female,0,0,40,united-states,<=50k,high school graduate,white collar
32559,22,private,201490,hs-grad,9,single,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k,high school graduate,white collar
32560,52,self-emp-inc,287927,hs-grad,9,married,exec-managerial,wife,white,female,15024,0,40,united-states,>50k,high school graduate,white collar

In [ ]:
adult_df['relationship'].unique()

array(['not-in-family', 'husband', 'wife', 'own-child', 'unmarried',
       'other-relative'], dtype=object)

In [ ]:
adult_df.loc[:, 'relationship'] = adult_df['relationship'].replace({
    'wife':'female spouse',
    'own-Child':'child',
    'not-in-family':'single',
    'other-relative':'extended relative',
    'unmarried':'single',
    'husband':'male spouse',

})
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_level,occupation_grouped
0,39,government,77516,bachelors,13,single,adm-clerical,single,white,male,2174,0,40,united-states,<=50k,tertiary,white collar
1,50,self-employed,83311,bachelors,13,married,exec-managerial,male spouse,white,male,0,0,13,united-states,<=50k,tertiary,white collar
2,38,private,215646,hs-grad,9,divorced or separated,handlers-cleaners,single,white,male,0,0,40,united-states,<=50k,high school graduate,blue collar
3,53,private,234721,11th,7,married,handlers-cleaners,male spouse,black,male,0,0,40,united-states,<=50k,secondary,blue collar
4,28,private,338409,bachelors,13,married,prof-specialty,female spouse,black,female,0,0,40,cuba,<=50k,tertiary,white collar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married,tech-support,female spouse,white,female,0,0,38,united-states,<=50k,NaN,white collar
32557,40,private,154374,hs-grad,9,married,machine-op-inspct,male spouse,white,male,0,0,40,united-states,>50k,high school graduate,blue collar
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,single,white,female,0,0,40,united-states,<=50k,high school graduate,white collar
32559,22,private,201490,hs-grad,9,single,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k,high school graduate,white collar
32560,52,self-emp-inc,287927,hs-grad,9,married,exec-managerial,female spouse,white,female,15024,0,40,united-states,>50k,high school graduate,white collar

In [ ]:
adult_df['race'].unique()

array(['white', 'black', 'asian-pac-islander', 'amer-indian-eskimo',
       'other'], dtype=object)

In [ ]:
adult_df['race'] = adult_df['race'].replace({
    'white': 'white',
    'asian-pac-islander': 'asian or pacific islander',
    'amer-indian-eskimo': 'american indian or eskimo',
    'black': 'black',
    'other': 'other',
})
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_level,occupation_grouped
0,39,government,77516,bachelors,13,single,adm-clerical,single,white,male,2174,0,40,united-states,<=50k,tertiary,white collar
1,50,self-employed,83311,bachelors,13,married,exec-managerial,male spouse,white,male,0,0,13,united-states,<=50k,tertiary,white collar
2,38,private,215646,hs-grad,9,divorced or separated,handlers-cleaners,single,white,male,0,0,40,united-states,<=50k,high school graduate,blue collar
3,53,private,234721,11th,7,married,handlers-cleaners,male spouse,black,male,0,0,40,united-states,<=50k,secondary,blue collar
4,28,private,338409,bachelors,13,married,prof-specialty,female spouse,black,female,0,0,40,cuba,<=50k,tertiary,white collar
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married,tech-support,female spouse,white,female,0,0,38,united-states,<=50k,NaN,white collar
32557,40,private,154374,hs-grad,9,married,machine-op-inspct,male spouse,white,male,0,0,40,united-states,>50k,high school graduate,blue collar
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,single,white,female,0,0,40,united-states,<=50k,high school graduate,white collar
32559,22,private,201490,hs-grad,9,single,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k,high school graduate,white collar
32560,52,self-emp-inc,287927,hs-grad,9,married,exec-managerial,female spouse,white,female,15024,0,40,united-states,>50k,high school graduate,white collar

In [ ]:
adult_df['native_country'].unique()

array(['united-states', 'cuba', 'jamaica', 'india', 'other', 'mexico',
       'south', 'puerto-rico', 'honduras', 'england', 'canada', 'germany',
       'iran', 'philippines', 'italy', 'poland', 'columbia', 'cambodia',
       'thailand', 'ecuador', 'laos', 'taiwan', 'haiti', 'portugal',
       'dominican-republic', 'el-salvador', 'france', 'guatemala',
       'china', 'japan', 'yugoslavia', 'peru',
       'outlying-us(guam-usvi-etc)', 'scotland', 'trinadad&tobago',
       'greece', 'nicaragua', 'vietnam', 'hong', 'ireland', 'hungary',
       'holand-netherlands'], dtype=object)

In [ ]:
adult_df.loc[:,'native_region'] = adult_df['native_country'].map({
    'united-states':'north america',
    'cambodia':'asia',
    'england':'europe',
    'puerto-rico':'north america',
    'canada':'north america',
    'germany':'europe',
    'outlying-us(guam-usvi-etc)':'north america',
    'india':'asia',
    'japan':'asia',
    'greece':'europe',
    'south':'south america',
    'china':'asia',
    'iran':'asia',
    'cuba':'central america',
    'honduras':'central america',
    'philippines':'asia',
    'italy':'europe',
    'poland':'europe',
    'jamaica':'central america',
    'vietnam':'asia',
    'mexico':'north america',
    'portugal':'europe',
    'ireland':'europe',
    'france':'europe',
    'dominican-republic':'central america',
    'laos':'asia',
    'ecuador':'south america',
    'taiwan':'asia',
    'haiti':'central america',
    'colombia':'south america',
    'hungary':'europe',
    'guatemala':'central america',
    'nicaragua':'central america',
    'scotland':'europe',
    'thailand':'asia',
    'yugoslavia':'europe',
    'el-salvador':'central america',
    'trinadad&tobago':'central america',
    'peru':'south america',
    'hong':'asia',
    'other':'other',
    'holand-netherlands':'europe',

})
adult_df

,age,workclass,fnlwgt,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,income,education_level,occupation_grouped,native_region
0,39,government,77516,bachelors,13,single,adm-clerical,single,white,male,2174,0,40,united-states,<=50k,tertiary,white collar,north america
1,50,self-employed,83311,bachelors,13,married,exec-managerial,male spouse,white,male,0,0,13,united-states,<=50k,tertiary,white collar,north america
2,38,private,215646,hs-grad,9,divorced or separated,handlers-cleaners,single,white,male,0,0,40,united-states,<=50k,high school graduate,blue collar,north america
3,53,private,234721,11th,7,married,handlers-cleaners,male spouse,black,male,0,0,40,united-states,<=50k,secondary,blue collar,north america
4,28,private,338409,bachelors,13,married,prof-specialty,female spouse,black,female,0,0,40,cuba,<=50k,tertiary,white collar,central america
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,private,257302,assoc-acdm,12,married,tech-support,female spouse,white,female,0,0,38,united-states,<=50k,NaN,white collar,north america
32557,40,private,154374,hs-grad,9,married,machine-op-inspct,male spouse,white,male,0,0,40,united-states,>50k,high school graduate,blue collar,north america
32558,58,private,151910,hs-grad,9,widowed,adm-clerical,single,white,female,0,0,40,united-states,<=50k,high school graduate,white collar,north america
32559,22,private,201490,hs-grad,9,single,adm-clerical,own-child,white,male,0,0,20,united-states,<=50k,high school graduate,white collar,north america
32560,52,self-emp-inc,287927,hs-grad,9,married,exec-managerial,female spouse,white,female,15024,0,40,united-states,>50k,high school graduate,white collar,north america

In [ ]:
adult_df.to_csv('cleaned_adult_data.csv', index=False)
from google.colab import files
files.download('cleaned_adult_data.csv')

In [ ]:
# create age groups based on the age column
adult_df['age'].unique()

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87])

In [ ]:
bins = [0,18,25,35,45,60,75,100]
labels = ['<18','19-25','26-35','36-45','46-60','61-75','76+']
adult_df['age']= pd.cut(adult_df['age']),(bins==bins,labels=labels,right=True,include_lowest=True)
adult_df

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (ipython-input-230-2663055291.py, line 3)

In [ ]:
adult_df['age'].unique()

array([39, 50, 38, 53, 28, 37, 49, 52, 31, 42, 30, 23, 32, 40, 34, 25, 43,
       54, 35, 59, 56, 19, 20, 45, 22, 48, 21, 24, 57, 44, 41, 29, 18, 47,
       46, 36, 79, 27, 67, 33, 76, 17, 55, 61, 70, 64, 71, 68, 66, 51, 58,
       26, 60, 90, 75, 65, 77, 62, 63, 80, 72, 74, 69, 73, 81, 78, 88, 82,
       83, 84, 85, 86, 87])

In [ ]:
bins=[0,18,25,35,45,60,75,100]
labels= ['<18','18-25','26-35','36-45','46-60','61-75','76+']
adult_df['age']=pd.cut(adult_df['age'],bins=bins,labels=labels,right=True,include_lowest=True)

In [ ]:
# save the clean dataset
adult_df.shape

(32537, 18)

In [ ]:
adult_df.isnull().sum()

age                      0
workclass                0
fnlwgt                   0
education                0
education_num            0
marital_status           0
occupation               0
relationship             0
race                     0
sex                      0
capital_gain             0
capital_loss             0
hours_per_week           0
native_country           0
income                   0
education_level       1643
occupation_grouped    1843
native_region           59
dtype: int64

In [ ]:
adult_df.duplicated().sum()

np.int64(43)

In [ ]:
adult_df=adult_df.drop_duplicates()

In [ ]:
adult_df.duplicated().sum()

np.int64(0)

In [ ]:
adult_df.shape

(32494, 18)

In [ ]:
#saving file
adult_df_filename = 'adult.csv'
file_path = os.path.join(processed_dir,adult_df_filename)
adult_df.to_csv(file_path,index=True)